# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# nvim is now my preferred text editor.
alias vi='nvim'
alias vim='nvim'

# Command line productivity.
alias ll="ls -lah"

# Aliases for installed CLI utilities.
alias cat="bat"
alias ping="prettyping --nolegend"
alias top="htop"
alias help="tldr"
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"